page-register {

  ion-grid {
    height: 100%;
    justify-content: center;
  }
  ion-content {
    background: lightblue;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, white, white, color($colors, background));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, white, white, color($colors, background)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  ion-icon {
    font-size: 4em;
  }
}
