<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-chip class="chip-header" color="primary" *ngIf="currentUser">
      <ion-title>Perfil</ion-title>
      <ion-avatar menuToggle item-start class="avatar-header">
        <img src="{{currentUser.image}}">
      </ion-avatar>
    </ion-chip>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngIf="currentUser">
    <ion-card-content>
      <ion-item>
        <ion-avatar item-start>
          <img src="{{currentUser.image}}">
        </ion-avatar>
        <h2>{{currentUser.name}}</h2>
        <p>{{currentUser.email}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="currentUser && this.personality">
    <ion-card-header>
      <h3 ion-text color="primary">Personalidad</h3>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item text-wrap>
            <h2 ion-text color="primary">{{personality.name}}</h2>
            <p class="result-description">{{personality.description}}</p>
            <button ion-button float-right color="secondary" clear (click)='goToResults()'>Ver mas...</button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="currentUser">
    <ion-card-header>
      <h3 ion-text color="primary">Avance</h3>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let phase of phases; let i = index" text-wrap>
            <ion-icon 
              name="{{(i + 1) <= currentUser.status ? 'checkmark-circle' : 'close-circle'}}"
              color="{{(i + 1) <= currentUser.status ? 'success' : 'danger'}}"> </ion-icon>
            {{phase.description}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button color="primary" full (click)="goPersonalData()">Editar Información</button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-fab bottom right (click)="goPersonalData()">
    <button ion-fab mini><ion-icon name="create"></ion-icon></button>
  </ion-fab>

</ion-content>