<ion-header>
  <ion-navbar *ngIf="currentUser" color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid style="height: 100%">
    <ion-row align-items-center justify-content-center style="height: 100%">
      <ion-slides pager  (ionSlideDidChange)="slideChanged()">
        <ion-slide>
          <ion-col col-12>
            <h1 ion-text color="secondary" text-center>Bienvenido</h1>
            <ion-icon name="school" color="secondary"></ion-icon>
            <p ion-text color="black" text-center>Con Applica puedes conectar facilmente con universidades de tu ciudad y encontrar la carrera que deseas!</p>
          </ion-col>
          <!--<ion-col col-12>
            <button *ngIf="!currentUser" ion-button color="primary" full (click)="goToLogin()">Entrar</button>
          </ion-col>-->
        </ion-slide>

        <ion-slide>
          <ion-col col-12>
            <h1 ion-text color="secondary" text-center>Encuentra tu carrera!</h1>
            <ion-icon name="analytics" color="secondary"></ion-icon>
            <p ion-text color="black" text-center>Realiza nuestro test vocacional y encuentra tu carrera ideal!</p>
          </ion-col>
        </ion-slide>

        <ion-slide>
          <ion-col col-12>
            <h1 ion-text color="secondary" text-center>Elige tu universidad!</h1>
            <ion-icon name="pin" color="secondary"></ion-icon>
            <p ion-text color="black" text-center>Puedes consultar información de las universidades mas cercanas para poder elegir la que mejor se adapte a tu perfil</p>
          </ion-col>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row>
      <ion-col>
        <p *ngIf="!currentUser" class="skip-button" ion-text text-center color="secondary" (click)="goToLogin()">{{skipMessage}}</p>
        <p *ngIf="currentUser" class="skip-button" ion-text text-center color="secondary" (click)="goToProfile()">Cerrar</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>