// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.avatars img{
  height: 56px !important;
  width: 56px !important;
  margin: auto 0 15px;
}

.avatar-header {
  margin-right: 15px;
}
.avatar-header img{
  height: 40px !important;
  width: 40px !important;
}

.chip-header {
  width: 100%;
}

ion-list.menu-list > button {
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}

ion-list.menu-list ion-icon {
  color: color($colors, primary);
}

.result-description {
  text-align: justify;
  text-justify: inter-word;
}

.skip-button {
  font-weight: bold;
  font-size: 1.3em;
}