<ion-menu [content]="content" [swipeEnabled]="currentUser">
  <ion-header class="card-background-page">
    <ion-toolbar color="primary" *ngIf="!currentUser">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
    <ion-item color="primary" *ngIf="currentUser">
      <ion-avatar item-center class="avatars">
        <img src="{{currentUser.image}}">
      </ion-avatar>
      <h4>{{currentUser.name | titlecase}}</h4>
      <p>{{currentUser.email}}</p>
    </ion-item>
  </ion-header>

  <ion-content>
    <ion-list class="menu-list">
      <button menuClose ion-item no-lines *ngIf="currentUser" (click)="openPage('HomePage')"><ion-icon name="home"></ion-icon> Inicio</button>
      <button menuClose ion-item no-lines *ngIf="currentUser" (click)="openPage('ProfilePage')"><ion-icon name="person"></ion-icon> Mi Perfil</button>
      <button [ngClass]="{'menu-item-wave' : currentuSER && currentUser.status == 2}" menuClose ion-item no-lines (click)="openPage('TestSplashPage')"><ion-icon name="list"></ion-icon> Test</button>
      <button menuClose *ngIf="!currentUser" ion-item no-lines (click)="openPage('LoginPage')"><ion-icon name="log-in"></ion-icon> Login</button>
      <button menuClose *ngIf="currentUser && currentUser.results" ion-item no-lines (click)="openPage('TestResultPage')"><ion-icon name="stats"></ion-icon> Resultados</button>
      <button menuClose *ngIf="currentUser" ion-item no-lines (click)="logout()"><ion-icon name="log-out"></ion-icon> Salir</button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>