<!--
  Generated template for the TestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
      <ion-chip class="chip-header" color="primary" *ngIf="currentUser">
        <ion-title>Test</ion-title>
        <ion-avatar menuToggle item-start class="avatar-header">
          <img src="{{currentUser.image}}" alt="user_img">
        </ion-avatar>
      </ion-chip>
    </ion-navbar>
  </ion-header> 


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides *ngIf="questions">
          <ion-slide *ngFor="let question of questions; let i = index">
            <h5 class="question-title">{{(i+1)}}. {{question.question}}</h5>
            <br>
            <ion-avatar item-center>
              <img class="question-img" src="https://firebasestorage.googleapis.com/v0/b/applica-4886b.appspot.com/o/images%2Ftests%2Fv1%2F{{question.image}}?alt=media" alt="question-img">
            </ion-avatar>
            <ion-list class="answers-list" radio-group [(ngModel)]="question.answer">
              <ion-item *ngFor="let answer of answers" text-wrap>
                <ion-label (click)="next(i)">{{answer.description}}</ion-label>
                <ion-radio (click)="next(i)" [value]=answer.code></ion-radio>
              </ion-item>
            </ion-list>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>