<!--
  Generated template for the TestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Test</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides *ngIf="questions">
          <ion-slide *ngFor="let question of questions; let i = index">
            <h5 class="question-title">{{(i+1)}}. {{question.question}}</h5>
            <br>
            <ion-list class="answers-list" radio-group [(ngModel)]="question.answer">
              <!-- <ion-list-header>
                      {{(i+1)}}. {{question.question}}
                  </ion-list-header> -->
              <ion-item *ngFor="let answer of answers" text-wrap>
                <ion-label>{{answer.description}}</ion-label>
                <ion-radio [value]=answer.code></ion-radio>
              </ion-item>
            </ion-list>
            <br>
            <button *ngIf="(i + 1) != questions.length" ion-button float-center color="primary" (click)="next(i)">Siguiente</button>
            <button *ngIf="(i + 1) == questions.length" ion-button float-center color="success" (click)="finishTest()">Finalizar</button>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>